<!--top 部分-->
<include file="Public/top"/>
<!--左边导航栏-->
<include file="Public/left"/>
<!--main部分-->
<div id="userList" style="width: 85%;float: left;padding-left: 15%">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="{:U('Check/checkList')}">考勤统计</a></li>
            <li><a href="{:U('Check/leaveDetails')}">请假详情</a></li>
        </ul>
    </div>
    <table class="tablelist">
        <thead>
        <tr>
            <!--<th>发起人工号</th>-->
            <th>姓名</th>
            <th>部门</th>
            <th>审批编号</th>
            <th>标题</th>
            <th>审批状态</th>
            <th>审批结果</th>
            <!--<th>审批发起时间</th>-->
            <!--<th>审批完成时间</th>-->
            <th>历史审批人</th>
            <th>请假类型</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>请假天数(天)</th>
            <th>请假事由</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr>
                <!--<td>{$vo.people_num}</td>-->
                <td>{$vo.people_name}</td>
                <td>{$vo.department}</td>
                <td>{$vo.appr_num}</td>
                <td>{$vo.title}</td>
                <td>{$vo.status}</td>
                <td>{$vo.result}</td>
                <!--<td>{$vo.start_time}</td>-->
                <!--<td>{$vo.end_time}</td>-->
                <td>{$vo.history_appr}</td>
                <td>{$vo.leave_type}</td>
                <td>{$vo.start_date}</td>
                <td>{$vo.end_date}</td>
                <td>{$vo.leave_date}</td>
                <td>{$vo.leave_reason}</td>

            </tr>
        </volist>
        </tbody>
    </table>
</div>
</div>
<!--页脚-->
<include file="Public/footer"/>