<!--top 部分-->
<include file="Public/top"/>
<!--左边导航栏-->
<include file="Public/left"/>
<!--main部分-->
<div id="staffList" style="width: 85%;float: left;padding-left: 15%">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="{:U('Check/checkList')}">考勤统计</a></li>
            <li><a href="{:U('Check/overWorkList')}">加班数据</a></li>
        </ul>
    </div>

    <div class="formbody">
        <ul class="seachform">
            <li><label>姓名</label><input id="overWorkList_name" type="text" class="scinput" value="{$staff_name}"/></li>
            <li><label>部门</label>
                <div class="vocation">
                    <select class="select3" id="overWorkList_department">
                        <option>{$department}</option>
                        <option>全部</option>
                        <option>零境</option>
                        <option>思炫</option>
                        <option>合推</option>
                        <option>灵域</option>
                    </select>
                </div>
            </li>
            <li><label>日期(默认上一个月的数据)</label>
                <input id="overWorkList_year_month" type="text" class="Wdate" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM'})" style="width: 100px;height: 28px; padding-left: 10px;" value="{$year_month}"/>
            </li>

            <li><label>&nbsp;</label><input id="overWorkList_btn_search" type="button" class="scbtn" value="查询"/></li>

        </ul>

        <table class="tablelist">
            <thead>
            <tr>
                <th>姓名</th>
                <th>部门</th>
                <th>审批编号</th>
                <th>标题</th>
                <th>审批状态</th>
                <th>审批结果</th>
                <!--<th>审批发起时间</th>-->
                <!--<th>审批完成时间</th>-->
                <th>历史审批人</th>
                <th>时间节假日</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>加班时长(小时)</th>
                <th>核算方式</th>
                <th>加班原因</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <!--<td>{$vo.people_num}</td>-->
                    <td>{$vo.people_name}</td>
                    <td>{$vo.department}</td>
                    <td>{$vo.appr_num}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.status}</td>
                    <td>{$vo.result}</td>
                    <!--<td>{$vo.start_time}</td>-->
                    <!--<td>{$vo.end_time}</td>-->
                    <td>{$vo.history_appr}</td>
                    <td>{$vo.is_festival}</td>
                    <td>{$vo.over_start_time}</td>
                    <td>{$vo.over_end_time}</td>
                    <td>{$vo.over_hours}</td>
                    <td>{$vo.overtime_pay}</td>
                    <td>{$vo.over_reason}</td>

                </tr>
            </volist>
            </tbody>
        </table>
        <input id="overWorkList_pageNum" style="display: none" value="{$pageNum}"/>
        <div class="pagination" id="page_overWorkList"></div>
    </div>
</div>
<!--页脚-->
<include file="Public/footer"/>
<script>
    laypage({
        cont: 'page_overWorkList',
        pages: $('#overWorkList_pageNum').val(), //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function(e, first){ //触发分页后的回调
            var staff_name = $('#overWorkList_name').val();
            var department = $('#overWorkList_department').val();
            var year_month = $('#overWorkList_year_month').val();
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = 'leaveList?page='+e.curr+'&staff_name='+staff_name+'&department='+department+'&year_month='+year_month;
            }
        }
    });
</script>