
<div id="left" style="width: 15%; position: absolute; overflow: hidden;">
    <dl class="leftmenu">
        <dd>
            <div class="title">
                <span><img src="__ROOT__/Public/images/leftico01.png"/></span>员工信息管理
            </div>
            <ul class="menuson">
                <!--<li class="active"><cite></cite><a href="__CONTROLLER__/welcome" target="rightFrame">欢迎页</a><i></i></li>-->
                <li <if condition="$c_a eq 'Staff_staffList' ">class='active'</if> ><cite></cite><a href="{:U('Staff/staffList')}" >员工列表</a><i></i></li>

                <li <if condition="$c_a eq 'Staff_addStaff' ">class='active'</if> ><cite></cite><a href="{:U('Staff/addStaff')}" >添加员工</a><i></i></li>
            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="__ROOT__/Public/images/leftico02.png"/></span>考勤统计
            </div>
            <ul class="menuson">
                <li <if condition="$c_a eq 'Check_upload' ">class='active'</if> ><cite></cite><a href=" {:U('Check/upload')}" >上传考勤数据</a><i></i></li>
                <li <if condition="$c_a eq 'Check_signList' ">class='active'</if> ><cite></cite><a href=" {:U('Check/signList')}" >打卡数据</a><i></i></li>
                <li <if condition="$c_a eq 'Check_signDetailList' ">class='active'</if> ><cite></cite><a href=" {:U('Check/signDetailList')}" >打卡详细</a><i></i></li>
                <li <if condition="$c_a eq 'Check_repSignList' ">class='active'</if> ><cite></cite><a href=" {:U('Check/repSignList')}" >补签数据</a><i></i></li>
                <li <if condition="$c_a eq 'Check_overWorkList' ">class='active'</if> ><cite></cite><a href=" {:U('Check/overWorkList')}" >加班数据</a><i></i></li>
                <li <if condition="$c_a eq 'Check_leaveList' ">class='active'</if> ><cite></cite><a href=" {:U('Check/leaveList')}" >请假数据</a><i></i></li>
                <li <if condition="$c_a eq 'Check_checkList' ">class='active'</if> ><cite></cite><a href=" {:U('Check/checkList')}" >考勤列表</a><i></i></li>
                <li <if condition="$c_a eq 'Check_checkAnalyse' ">class='active'</if> ><cite></cite><a href=" {:U('Check/checkAnalyse')}" >考勤分析</a><i></i></li>
            </ul>
        </dd>

        <dd>
            <div class="title"><span><img src="__ROOT__/Public/images/leftico03.png"/></span>用户管理</div>
            <ul class="menuson">
                <li <if condition="$c_a eq 'User_userList' ">class='active'</if> ><cite></cite><a href="{:U('User/userList')}">用户列表</a><i></i></li>
                <!--<li><cite></cite><a href="{:U('User/addUser')}">注册用户</a><i></i></li>-->
            </ul>
        </dd>
    </dl>
</div>

